<div class="section" id="project">
  <div class="container py-2 cc-experience">
      <div class="h4 text-center mb-4 title">Projects</div>
              <div class="row" >
                  <ul class="timeline" *ngFor = 'let project of projects'>
                      <li>
                          <div class="timeline-panel">
                              <div class="row" >
                                  <div class="col-lg-6 ">
                                      <div class="h5 mt-0 title">{{project.projectName}}</div>
                                      <div> <a class="h6 mt-0 title" href={{project.link}} >Project Repository</a></div>
                                      <p align="justify">{{project.briefDetails}}</p>
                                  </div>
                                  <div class="col-lg-6">
                                      <ul>
                                          <li class="list">Core Functionality</li>
                                          <ul>
                                              <li class="non_list">{{project.functionalities.function1}}</li>
                                              <li class="non_list">{{project.functionalities.function2}}</li>
                                              <li class="non_list">{{project.functionalities.function3}}</li>
                                          </ul>
                                          <li class="list">Technologies and Language</li>
                                          <ul>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <li class="non_list">{{project.technologies.tech1}}</li>
                                                      <li class="non_list">{{project.technologies.tech2}}</li>
                                                      <li class="non_list">{{project.technologies.tech3}}</li>
                                                      <li class="non_list">{{project.technologies.tech4}}</li>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <li class="non_list">{{project.technologies.tech6}}</li>
                                                      <li class="non_list">{{project.technologies.tech7}}</li>
                                                      <li class="non_list">{{project.technologies.tech8}}</li>
                                                      <li class="non_list">{{project.technologies.tech5}}</li>
                                                  </div>
                                              </div>
                                          </ul>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
  </div>
</div>


