
<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="bg-info">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/introbackground.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <a href="#">
                        <img src="assets/images/profilepic.png" alt="Image" style="height:300px; width:300px;" />
                    </a>
                    <div class="h1 title">{{fullName}} </div>
                    <div class="card-title h4 text-white">Fullstack Developer</div>
                </div>
                <div>
                <a class="btn btn-info smooth-scroll mr-1" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="margin: 10px;">Hire Me</a>
                <a class="btn btn-info" href={{cvLink}} target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" style="margin: 10px;">Download CV</a>
              </div>
                </div>
              </div>
        </div>
        <div class="section" >
            <div class="container ">
                <div class="button-container  bg-info">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href={{facebookLink}} target="_blank" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href={{instagramLink}} target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href={{linkinLink}} target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href={{githubLink}} target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href={{twitterLink}} target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>

